<?xml version="1.0"?>
<robot name="robotiq_hande" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="hande_base" />
  
  <xacro:include filename="src/robotiq_hande_description/urdf/robotiq_hande_gripper.xacro" />
  
  <!-- <xacro:robotiq_hande_gripper name="robotiq_hande" prefix="" parent="hande_base" /> -->

    <xacro:robotiq_hande_gripper
      name="robotiq_hande_gripper"
      prefix=""
      parent="hande_base"
        grip_pos_min="0.0"
        grip_pos_max="0.025"
        tty_port="/tmp/ttyUR"
        baudrate="115200"
        parity="N"
        data_bits="8"
        stop_bit="1"
        slave_id="9"
        frequency_hz="10"
        use_fake_hardware="false"
  />
</robot>